/* header头部样式 */
.header{
    height:32px;
    line-height:32px;
    background: #f6f6f6;
    img{
        width: 222px;
        height:32px;
        float:left;
    }
    .header-welcome{
        float:left;
        margin-left: 20px;
        a{color: #888;
            &:last-child{margin-left:14px;}
            &:hover{color:#ef3c79;}
        }

    }
    .header-right{
        float:right;
        a:hover{color:#ef3c79;}
        a:hover span{color:#888;}
        a,div{display: inline-block;float:left;padding:0 16px;position: relative;color:#888;
            span{position:absolute;left:0;top:0;font-size:12px;
            }
            a{padding:0;}
            i.icon-car{
                position:relative;
                display:inline-block;
                width: 12px;
                height: 12px;
                background:url(../img/public-sprite.png) 0 0;
                margin-right: 6px;
                top:1px; 
            }
            i.icon-tel{
                position:relative;
                display:inline-block;
                width: 10px;
                height: 13px;
                background:url(../img/public-sprite.png) 0 -17px;
                margin-right: 6px;
                top:2px; 
            }
            i.icon-phone{
                position:relative;
                display:inline-block;
                width: 9px;
                height: 13px;
                background:url(../img/public-sprite.png) 0 -33px;
                margin-right: 6px;
                top:2px;  
            }
            b{margin:0 4px;}

        }
        div.myby{
            padding-right:24px;
            &:hover .myby_erji{
                display:block;
                height: 160px;
                background:#fff;
                border:1px solid #ccc;
                border-top:0;
            }
            &:hover{
                border-left:1px solid #ccc;
                border-right:1px solid #ccc;
                background: #fff;
                padding: 0 23px 0 15px;
                border-top:0;
                z-index:1;
            }
            &:hover span{font-size:0;}
            .myby_erji{
                display:none;
                position:absolute;
                top:32px;
                left:-1px;
                z-index:1;
                li{width:86px;height:32px;text-align:center;}
                li a{
                    height: 12px;
                    line-height:12px;
                    margin: 8px 0 12px 15px;
                }
            }
        }
        div.headernav{
            cursor: pointer;
            &:hover ul{display:block;z-index:1;background:#fff;}
            &:hover{color:#ef3c79;}
            &:hover span{color:#888;}
            &:hover h2{color:#999;}
        }
        .headernav:after{right:4px;top:15px;}
        .headernav ul{
            position:absolute;
            width:1200px;
            left:-1120px;top:32px;
            border:1px solid #ccc;
            padding:20px 0;
            display:none;
            li{
                width:299px;
                height:170px;
                float:left;
                padding:0 30px;
                border-right:1px solid #ccc;
                h2{font-size:16px;margin-bottom:23px;}
                .nav-list{
                    padding:0;
                    a{
                        float: left;
                        display: block;
                        height: 24px;
                        line-height: 24px;
                        color: #999;
                        font-size: 12px;
                        width:29%;
                    }
                }
                &:last-child{border-right:0;}
                
            }
        }
    }
}
.header .myby:hover+a>span{
  visibility:hidden;
}
.header .header-right .erweima{
    position:absolute;
    width:130px;
    left:-12px;
    top:34px;
    text-align:center;
    display:none;
    img{
        display:block;
        width:96px;
        height: 96px;
    }
    h2{
        margin-top: 106px;
        line-height: 14px;
        font-size: 12px;
        color: #333;
    }  
    p{line-height:12px;font-size:12px;color:#ef3c79;}
}
.appewm:hover .erweima{
    display:block;
    z-index:1;
}

/* search部分样式 */
.search{
    height:122px;
    .logo{
        margin-top:34px;
        width:334px;
        img{display:inline-block;
            width:195px;height:55px;
            float:left;
        }
    }
    .search-box{
        margin-top:35px;
        width:586px;
        float:left;
        position:relative;
        .sousu{
            float:left;
            width: 514px;
            height: 36px;
            line-height: 30px;
            font-size: 14px;
            border:3px solid #ef3c79;
            padding:0 7px;
        }
        .findout{
            float:left;
                display: inline-block;
                width:70px;
                height:36px;
                line-height:30px;
                background-color:#ef3c79;
                text-align:center;
                border:0;
        }
        i.icon-search{
                display:inline-block;
                position: absolute;
                width: 19px;
                height: 19px;
                background:url(../img/public-sprite.png) 0 -49px;
                right:31px;
                top:8px;
        }
        a{display:inline-block;
            display:inline-block;
            float:left;
            padding: 0 15px;
            font-size: 12px;
            line-height: 14px;
            margin-top:6px;
            border-right:1px solid #999;
            color:#999;
            &:last-child{border:0;}
        }
    }
}

/* 导航条nav */
.nav{
    height:46px;
    .title-box{
        .all-goods-tab{
            position:relative;
            float:left;
            display:inline-block;
            margin-right:18px;
            padding:0 20px;
            width:195px;
            height:44px;
            line-height:44px;
            background:#e5004f;
            text-align:center;
            font-weight:bold;       
            span{
                font-size:21px;
                color:#fff;
                font-style:none;
            }
            ul.all-goods-box{
                background:#ef3c79;
                width:195px;
                position:absolute;
                left:0;
                top:44px;
                z-index:1;
                li{
                    height:50px;
                    &:hover ul.gds-detail{
                        visibility:visible;
                        opacity:1;
                        transition:all 0.7s;
                        z-index:1;
                    }
                    &:hover{
                            background:#f9f9f9;
                    }
                    &:hover span{
                        color:#ef3c79;
                    }
                    i{
                        display:inline-block;
                        position:relative;
                        width:28px;
                        height:26px;
                        top:50%;
                        transform:translateY(-50%);
                    }
                    span{
                        display:inline-block;
                        height:50px;
                        line-height:50px;
                        color:#fff;
                        font-size:16px;
                        font-weight:normal;
                    }
                    ul.gds-detail{
                        position:absolute;
                        background:#f9f9f9;
                        padding: 33px 346px 33px 0;
                        width:1005px;
                        // height:600px;
                        left:195px;
                        top:0;
                        visibility:hidden;
                        opacity:0;
                        z-index:1;
                        li{
                            float:left;
                            width:280px;
                            height:auto;
                            margin:0 0 35px 40px;
                            line-height:initial;
                            p{
                                margin-bottom:1px;
                                padding-bottom:6px;
                                line-height:30px;
                                color:#5c5b5b;
                                font-size:14px;
                                text-align:left;
                                font-weight:600;
                                border-bottom:1px solid #000;
                            }
                            div.list{
                                width:280px;
                                a{
                                    float:left;
                                    padding:0;
                                    margin:5px 18px 5px 0;
                                    height:12px;
                                    line-height:12px;
                                    // font-size:12px;
                                    color:#757575;
                                }
                            }
                        }
                    }
                }
            }
        }
        a{
            position:relative;
            float:left;
            display:inline-block;
            padding:0 20px;
            line-height:44px;
            font-weight:500;
            &:hover span{color:#ef3c79;}
            // &:hover>i{background-position: 0 -50px}
            span{
                font-size:16px;
                color:#666;
            }
            i.pinpai{
                display:inline-block;
                float:left;
                width:24px;
                height:44px;
                background:url(http://localhost:10086/src/img/sprite_main.fw.png) 0 16px;
                margin-right:4px;
            }
            i.haiwai{
                display:inline-block;
                float:left;
                width:24px;
                height:44px;
                background:url(http://localhost:10086/src/img/sprite_main.fw.png) -35px 16px;
                margin-right:4px; 
            }
        }
    }
    
}