@charset "UTF-8";
/* header头部样式 */
.header {
  height: 32px;
  line-height: 32px;
  background: #f6f6f6;
}

.header img {
  width: 222px;
  height: 32px;
  float: left;
}

.header .header-welcome {
  float: left;
  margin-left: 20px;
}

.header .header-welcome a {
  color: #888;
}

.header .header-welcome a:last-child {
  margin-left: 14px;
}

.header .header-welcome a:hover {
  color: #ef3c79;
}

.header .header-right {
  float: right;
}

.header .header-right a:hover {
  color: #ef3c79;
}

.header .header-right a:hover span {
  color: #888;
}

.header .header-right a, .header .header-right div {
  display: inline-block;
  float: left;
  padding: 0 16px;
  position: relative;
  color: #888;
}

.header .header-right a span, .header .header-right div span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
}

.header .header-right a a, .header .header-right div a {
  padding: 0;
}

.header .header-right a i.icon-car, .header .header-right div i.icon-car {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/public-sprite.png) 0 0;
  margin-right: 6px;
  top: 1px;
}

.header .header-right a i.icon-tel, .header .header-right div i.icon-tel {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 13px;
  background: url(../img/public-sprite.png) 0 -17px;
  margin-right: 6px;
  top: 2px;
}

.header .header-right a i.icon-phone, .header .header-right div i.icon-phone {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 13px;
  background: url(../img/public-sprite.png) 0 -33px;
  margin-right: 6px;
  top: 2px;
}

.header .header-right a b, .header .header-right div b {
  margin: 0 4px;
}

.header .header-right div.myby {
  padding-right: 24px;
}

.header .header-right div.myby:hover .myby_erji {
  visibility: visible;
  opacity: 1;
  height: 160px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  transition: all 0.1s;
}

.header .header-right div.myby:hover {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
  padding: 0 23px 0 15px;
  border-top: 0;
  z-index: 1;
}

.header .header-right div.myby:hover span {
  font-size: 0;
}

.header .header-right div.myby .myby_erji {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 32px;
  left: -1px;
  z-index: 1;
}

.header .header-right div.myby .myby_erji li {
  width: 86px;
  height: 32px;
  text-align: center;
}

.header .header-right div.myby .myby_erji li a {
  height: 12px;
  line-height: 12px;
  margin: 8px 0 12px 15px;
}

.header .header-right div.headernav {
  cursor: pointer;
}

.header .header-right div.headernav:hover ul {
  visibility: visible;
  opacity: 2;
  z-index: 2;
  background: #fff;
  transition: all 0.5s;
}

.header .header-right div.headernav:hover {
  color: #ef3c79;
}

.header .header-right div.headernav:hover span {
  color: #888;
}

.header .header-right div.headernav:hover h2 {
  color: #999;
}

.header .header-right .headernav:after {
  right: 4px;
  top: 15px;
}

.header .header-right .headernav ul {
  position: absolute;
  width: 1197px;
  left: -1120px;
  top: 32px;
  border: 1px solid #ccc;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px #ccc;
}

.header .header-right .headernav ul li {
  width: 298px;
  height: 170px;
  float: left;
  padding: 0 30px;
  border-right: 1px solid #ccc;
}

.header .header-right .headernav ul li h2 {
  font-size: 16px;
  margin-bottom: 23px;
}

.header .header-right .headernav ul li .nav-list {
  padding: 0;
}

.header .header-right .headernav ul li .nav-list a {
  float: left;
  display: block;
  height: 24px;
  line-height: 24px;
  color: #999;
  font-size: 12px;
  width: 29%;
}

.header .header-right .headernav ul li .nav-list a:hover {
  color: #ef3c79;
  text-decoration: underline;
}

.header .header-right .headernav ul li:last-child {
  border-right: 0;
}

.header .myby:hover + a > span {
  visibility: hidden;
}

.header .header-right .erweima {
  position: absolute;
  width: 125px;
  left: -10px;
  top: 34px;
  text-align: center;
  padding: 14px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  visibility: hidden;
  opacity: 0;
}

.header .header-right .erweima img {
  display: block;
  margin: 0 auto;
  width: 96px;
  height: 96px;
}

.header .header-right .erweima h2 {
  margin-top: 106px;
  line-height: 14px;
  font-size: 12px;
  color: #333;
}

.header .header-right .erweima p {
  line-height: 12px;
  font-size: 12px;
  color: #ef3c79;
}

.appewm:hover .erweima {
  visibility: visible;
  opacity: 1;
  transition: linear 1s;
}

/* search部分样式 */
.search {
  height: 122px;
}

.search .logo {
  margin-top: 34px;
  width: 334px;
}

.search .logo img {
  display: inline-block;
  width: 195px;
  height: 55px;
  float: left;
}

.search .search-box {
  margin-top: 35px;
  width: 586px;
  float: left;
  position: relative;
}

.search .search-box .sousu {
  float: left;
  width: 514px;
  height: 36px;
  line-height: 30px;
  font-size: 14px;
  border: 3px solid #ef3c79;
  padding: 0 7px;
}

.search .search-box .findout {
  float: left;
  display: inline-block;
  width: 70px;
  height: 36px;
  line-height: 30px;
  background-color: #ef3c79;
  text-align: center;
  border: 0;
}

.search .search-box i.icon-search {
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(../img/public-sprite.png) 0 -49px;
  right: 31px;
  top: 8px;
}

.search .search-box a {
  display: inline-block;
  display: inline-block;
  float: left;
  padding: 0 15px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 6px;
  border-right: 1px solid #999;
  color: #999;
}

.search .search-box a:last-child {
  border: 0;
}

.search .search-box a:hover {
  color: #ef3c79;
  text-decoration: underline;
}

/* 导航条nav */
.nav {
  height: 46px;
}

.nav .title-box .all-goods-tab {
  position: relative;
  float: left;
  display: inline-block;
  margin-right: 18px;
  padding: 0 20px;
  width: 195px;
  height: 44px;
  line-height: 44px;
  background: #e5004f;
  text-align: center;
  font-weight: bold;
}

.nav .title-box .all-goods-tab span {
  font-size: 21px;
  color: #fff;
  font-style: none;
}

.nav .title-box .all-goods-tab ul.all-goods-box {
  background: #ef3c79;
  width: 195px;
  position: absolute;
  left: 0;
  top: 44px;
  z-index: 1;
  cursor: pointer;
}

.nav .title-box .all-goods-tab ul.all-goods-box li {
  height: 50px;
}

.nav .title-box .all-goods-tab ul.all-goods-box li:hover {
  background: #f9f9f9;
}

.nav .title-box .all-goods-tab ul.all-goods-box li:hover span {
  color: #ef3c79;
}

.nav .title-box .all-goods-tab ul.all-goods-box li i {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.nav .title-box .all-goods-tab ul.all-goods-box li span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.nav .title-box .all-goods-tab ul.all-goods-box li ul.gds-detail {
  position: absolute;
  background: #f9f9f9;
  padding: 33px 346px 33px 0;
  width: 1036px;
  left: 195px;
  top: 0;
  display: none;
  z-index: 1;
}

.nav .title-box .all-goods-tab ul.all-goods-box li ul.gds-detail li {
  float: left;
  width: 280px;
  height: auto;
  margin: 0 0 35px 40px;
  line-height: initial;
}

.nav .title-box .all-goods-tab ul.all-goods-box li ul.gds-detail li p {
  margin-bottom: 1px;
  padding-bottom: 6px;
  line-height: 30px;
  color: #5c5b5b;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #000;
}

.nav .title-box .all-goods-tab ul.all-goods-box li ul.gds-detail li div.list {
  width: 280px;
}

.nav .title-box .all-goods-tab ul.all-goods-box li ul.gds-detail li div.list a {
  float: left;
  padding: 0;
  margin: 5px 18px 5px 0;
  height: 12px;
  line-height: 12px;
  color: #757575;
}

.nav .title-box .all-goods-tab ul.all-goods-box li ul.gds-detail li div.list a:hover {
  color: #ef3c79;
  text-decoration: underline;
}

.nav .title-box a {
  position: relative;
  float: left;
  display: inline-block;
  padding: 0 20px;
  line-height: 44px;
  font-weight: 500;
}

.nav .title-box a:hover span {
  color: #ef3c79;
}

.nav .title-box a span {
  font-size: 16px;
  color: #666;
}

.nav .title-box a i.pinpai {
  display: inline-block;
  float: left;
  width: 24px;
  height: 44px;
  background: url(http://localhost:10086/src/img/sprite_main.fw.png) 0 -24px;
  margin-right: 4px;
}

.nav .title-box a i.haiwai {
  display: inline-block;
  float: left;
  width: 24px;
  height: 44px;
  background: url(http://localhost:10086/src/img/sprite_main.fw.png) -35px -24px;
  margin-right: 4px;
}

.nav .title-box a:nth-of-type(1):hover i.pinpai {
  background-position: 0 -74px;
}

.nav .title-box a:nth-of-type(2):hover i.haiwai {
  background-position: -35px -74px;
}

/* footer部分样式 */
.footer ul.foot-top {
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.footer ul.foot-top li {
  float: left;
  position: relative;
  padding-left: 85px;
  width: 20%;
}

.footer ul.foot-top li i {
  display: block;
  position: absolute;
  left: 35px;
  top: 7px;
}

.footer ul.foot-top li i.icon-one {
  width: 32px;
  height: 39px;
  background: url(../img/public-sprite.png) -34px 0;
}

.footer ul.foot-top li i.icon-two {
  width: 39px;
  height: 36px;
  background: url(../img/public-sprite.png) -41px -243px;
}

.footer ul.foot-top li i.icon-three {
  width: 41px;
  height: 42px;
  background: url(../img/public-sprite.png) 1px -286px;
}

.footer ul.foot-top li i.icon-four {
  width: 40px;
  height: 40px;
  background: url(../img/public-sprite.png) -1px -243px;
}

.footer ul.foot-top li i.icon-five {
  width: 34px;
  height: 34px;
  background: url(../img/public-sprite.png) -34px -134px;
}

.footer ul.foot-top li h2 {
  margin: 6px 0;
  line-height: 16px;
  color: #ef3c79;
  font-size: 16px;
  font-weight: 600;
}

.footer .foot-main {
  margin: 48px 0 30px 0;
}

.footer .foot-main ul.main-left {
  float: left;
}

.footer .foot-main ul.main-left li {
  float: left;
  width: 120px;
  height: 145px;
}

.footer .foot-main ul.main-left li h3 {
  margin-bottom: 9px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

.footer .foot-main ul.main-left li a {
  display: block;
  line-height: 24px;
  color: #999;
  font-size: 14px;
}

.footer .foot-main ul.main-left li a:hover {
  color: #ef3c79;
  text-decoration: underline;
}

.footer .foot-main ul.main-left li:last-child {
  border-right: 1px dashed #ddd;
}

.footer .foot-main div.user-tel {
  width: 293px;
  height: 145px;
  float: left;
  border-right: 1px dashed #ddd;
  text-align: center;
}

.footer .foot-main div.user-tel h3 {
  display: inline-block;
  padding-left: 70px;
  padding-right: 66px;
  font-size: 21px;
  line-height: 23px;
  color: #ef3c79;
}

.footer .foot-main div.user-tel p {
  margin: 14px 0;
  color: #484848;
  line-height: 14px;
  text-align: center;
}

.footer .foot-main div.user-tel a {
  display: inline-block;
  margin-top: 6px;
  width: 104px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ef3c79;
  border-radius: 4px;
  color: #ef3c79;
}

.footer .foot-main div.user-tel a i.icon-zixun {
  background: url(../img/public-sprite.png) 79px 327px;
  position: relative;
  display: inline-block;
  bottom: 2px;
  margin-right: 4px;
  width: 14px;
  height: 13px;
  background-position: 0 -157px;
  vertical-align: middle;
}

.footer .foot-main ul.erweima-pic {
  height: 145px;
}

.footer .foot-main ul.erweima-pic li {
  float: left;
  padding-left: 50px;
  text-align: center;
}

.footer .foot-main ul.erweima-pic li h3 {
  margin-bottom: 12px;
  line-height: 16px;
  height: 16px;
  color: #484848;
  font-size: 16px;
}

.footer .foot-under {
  margin-bottom: 20px;
  padding: 20px 0 0 0;
  height: 49px;
  overflow: hidden;
  border-top: 1px solid #ddd;
}

.footer .foot-under:hover {
  height: auto;
}

.footer .foot-under a {
  float: left;
  display: inline-block;
  margin: 0 10px;
  font-size: 12px;
  line-height: 28px;
  color: #000;
}

.footer .foot-under a:hover {
  color: #ef3c79;
  text-decoration: underline;
}

.footer .foot-under span {
  float: left;
  display: inline-block;
  line-height: 28px;
  font-size: 12px;
  color: #999;
}

.footer .about-us p {
  line-height: 12px;
  margin-bottom: 16px;
  color: #5e5e5e;
  text-align: center;
}

.footer .about-us p a {
  padding: 0 12px;
  color: #5e5e5e;
  font-size: 12px;
  border-right: 1px solid #ddd;
}

.footer .about-us p a:last-child {
  border: 0;
}

.footer .about-us p a:hover {
  color: #ef3c79;
  text-decoration: underline;
}

.footer .zhengshu {
  text-align: center;
}

.footer .zhengshu a {
  display: inline-block;
}

.side-tab {
  position: fixed;
  width: 34px;
  height: 100%;
  top: 0;
  right: 0;
  background: #333;
  z-index: 1000;
}

.side-tab a {
  display: block;
  position: relative;
}

.side-tab a i.icon-user {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/sprite_main.fw.png) -133px -341px;
  margin: 120px auto 16px;
}

.side-tab a:nth-of-type(2) {
  padding: 10px 0;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.side-tab a:nth-of-type(2) .car-num {
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #ef3c79;
  border-radius: 50%;
}

.side-tab a:nth-of-type(3) {
  background: url(../img/sprite_main.fw.png) -133px -215px;
  width: 16px;
  height: 16px;
  margin: 8px auto 0;
}

.side-tab a:nth-of-type(4) {
  background: url(../img/sprite_main.fw.png) -133px -182px;
  width: 18px;
  height: 18px;
  margin: 24px auto 0;
}

.side-tab a i.icon-buycar {
  display: block;
  width: 17px;
  height: 16px;
  background: url(../img/sprite_main.fw.png) -133px -373px;
  margin: 0 auto;
}

.side-tab a > label {
  position: absolute;
  left: 0;
  margin-top: -10px;
  width: 80px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #ef3c79;
  border-radius: 4px 0 0 4px;
  z-index: -1;
  display: none;
}

.side-tab a:nth-of-type(1):hover > label {
  display: block;
  left: -80px;
  top: 9px;
}

.side-tab a:nth-of-type(3):hover > label {
  display: block;
  left: -89px;
  top: 1px;
}

.side-tab a:nth-of-type(4):hover > label {
  display: block;
  left: -88px;
  top: 1px;
}

.side-tab a:nth-of-type(2):hover {
  background: #ef3c79;
}

.side-tab .line {
  margin: auto;
  height: 1px;
  width: 24px;
  border-top: 1px #6c6c6c solid;
}

.side-tab .server {
  position: relative;
}

.side-tab .server:hover .server-box {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.side-tab .server i.icon-help {
  display: block;
  width: 16px;
  height: 15px;
  background: url(../img/sprite_main.fw.png) -133px -231px;
  margin: 24px auto 0;
}

.side-tab .server .server-box {
  width: 126px;
  height: 236px;
  background: url(../img/service_bg.png);
  position: absolute;
  left: -120px;
  bottom: -20px;
  visibility: hidden;
  opacity: 0;
}

.side-tab .server .server-box .ser-title {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.side-tab .server .server-box p > a {
  float: left;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #ef3c79;
}

.side-tab .toTop {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/sprite_main.fw.png) -133px -309px;
  bottom: 60px;
  left: 9px;
}

.side-tab .toTop:hover > label {
  display: block;
  left: -88px;
  top: 1px;
}

/* 吸顶固定位样式 */
.fix {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
}
