@charset "UTF-8";
#banner {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

#banner .carousel-box {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 450px;
}

/* 继承样式 */
#main .hot-recommend-box h3, #main .goods-floor-box .gds-title h3 {
  display: inline-block;
  line-height: 24px;
  font-size: 24px;
  color: #333;
  margin-bottom: 18px;
}

#main .hot-recommend-box span, #main .goods-floor-box .gds-title span {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}

#main .goods-floor-box .gds-hot-sale h4 {
  display: block;
  height: 21px;
  margin: 20px 0 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

#main {
  background: #f9f9f9;
}

#main .special-box {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

#main .special-box a {
  float: left;
  display: block;
  width: 292px;
  margin-right: 8px;
}

#main .hot-recommend-box {
  margin-top: 30px;
}

#main .hot-recommend-box .hot-recommend-pic a {
  display: block;
  float: left;
  width: 240px;
  height: 260px;
  border-left: 1px solid #ddd;
}

#main .hot-recommend-box .hot-recommend-pic a:first-child {
  border-left: 0;
}

#main .hot-recommend-box .hot-recommend-pic a img {
  width: 240px;
  height: 260px;
}

#main .adver-middle {
  margin-top: 20px;
}

#main .adver-middle a {
  display: block;
  width: 1200px;
  height: 90px;
}

#main .adver-middle a img {
  width: 1200px;
  height: 90px;
}

#main .goods-floor-box {
  background: #fff;
  margin-top: 40px;
}

#main .goods-floor-box .gds-title {
  background: #f9f9f9;
}

#main .goods-floor-box .gds-title h3 {
  cursor: default;
}

#main .goods-floor-box .gds-title a {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  height: 14px;
  /* 去除多余高度 */
  line-height: 12px;
  color: #666;
  border-right: 1px solid #666;
}

#main .goods-floor-box .gds-title a:last-child {
  border: 0;
}

#main .goods-floor-box .gds-title a:hover {
  color: #ef3c79;
}

#main .goods-floor-box .gds-big-pic {
  float: left;
}

#main .goods-floor-box .gds-big-pic a {
  display: block;
}

#main .goods-floor-box .gds-big-pic a img {
  width: 360px;
  height: 376px;
}

#main .goods-floor-box .gds-big-pic p {
  width: 100%;
  height: 70px;
  text-align: center;
  background: #7f6fd9;
  padding-top: 20px;
}

#main .goods-floor-box .gds-big-pic p a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 7px;
  cursor: pointer;
}

#main .goods-floor-box .gds-big-pic p a:last-child {
  margin-right: 0;
}

#main .goods-floor-box .gds-big-pic p a:hover {
  background: #fff;
  color: #000;
}

#main .goods-floor-box .gds-small-pic {
  float: left;
}

#main .goods-floor-box .gds-small-pic ul {
  width: 600px;
  box-sizing: content-box;
}

#main .goods-floor-box .gds-small-pic ul li {
  float: left;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 299px;
  height: 222px;
  box-sizing: content-box;
}

#main .goods-floor-box .gds-small-pic ul li img {
  width: 100%;
  height: 100%;
}

#main .goods-floor-box .gds-hot-sale {
  padding: 0;
  height: 446px;
  border-bottom: 1px solid #ddd;
}

#main .goods-floor-box .gds-hot-sale ul li {
  float: left;
  width: 198px;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #ddd;
}

#main .goods-floor-box .gds-hot-sale ul li a {
  display: block;
  height: 87px;
}

#main .goods-floor-box .gds-hot-sale ul li a div {
  float: left;
  width: 80px;
}

#main .goods-floor-box .gds-hot-sale ul li a div:nth-of-type(2) {
  width: 118px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .goods-floor-box .gds-hot-sale ul li a div img {
  width: 80px;
  height: 80px;
  float: left;
}

#main .goods-floor-box .gds-hot-sale ul li a div span {
  height: 40px;
  line-height: 20px;
  font-size: 12px;
  color: #333;
  width: 108px;
}

#main .goods-floor-box .gds-hot-sale ul li a div span:hover {
  color: #ef3c79;
  text-decoration: underline;
}

#main .goods-floor-box .gds-hot-sale ul li a div .price {
  margin-top: 14px;
  width: 118px;
  color: #ef3c79;
}

#main .goods-floor-box .gds-hot-sale ul li a div .price p {
  display: inline-block;
  color: #ef3c79;
}

#main .goods-floor-box .gds-hot-sale ul li a div .price p .new-price {
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #ef3c79;
  font-style: normal;
}

#main .goods-floor-box .gds-hot-sale ul li a div .price del {
  margin-left: 5px;
  line-height: 14px;
  font-size: 12px;
  color: #999;
}

#main .goods-floor-box .gds-hot-sale ul:last-child li {
  border: 0;
}

#main .goods-floor-box .hot-brand h4 {
  float: left;
  width: 136px;
  height: 110px;
  line-height: 110px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  text-align: center;
}

#main .goods-floor-box .hot-brand a {
  display: block;
  float: left;
  width: 133px;
  height: 110px;
  position: relative;
}

#main .goods-floor-box .hot-brand a:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 52px;
  background: #ccc;
  top: 30px;
  right: -1px;
  z-index: 1;
}

#main .goods-floor-box .hot-brand a:last-child:after {
  width: 0;
}
